footer {
  height: 350px;
  background-color: var(--back-black);
  overflow: hidden;
}

footer .container {
  margin: 0 auto;
  width: 100vw;
  max-width: 1400px;
  height: 100%;
}

footer .container aside {
  float: left;
  width: 180px;
  background-color: var(--flag-red);
  height: 180px;
  margin: 65px 0;
  border-radius: 50%;
}

footer .container aside img {
  width: 100%;
  height: 100%;
}
footer .container article {
  height: 350px;
  float: right;
  width: calc(100% - 285px);
  color: var(--pure-white);
}

footer article table,
footer article form {
  float: left;
  margin-top: 30px;
}
footer article table th {
  font-family: "Oswald";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2rem;
  text-align: left;
}

footer article table td {
  font-family: "Oswald";
  font-weight: 300;
  font-size: 1.5rem;
}

footer article table:first-of-type td {
  padding-right: 6rem;
}

footer article table td a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  border-radius: 1px;
  left: 0;
  bottom: 0;
  transition: width 200ms ease-in-out;
  background-color: var(--flag-red);
}

footer article table:last-of-type td a::before {
  background-color: var(--flag-yellow);
}
footer article table:last-of-type {
  margin-left: 6rem;
}

footer article table td a:hover::before {
  width: 100%;
}

footer article table td a {
  color: var(--pure-white);
  text-decoration: none;
  position: relative;
}

footer article table td i {
  font-size: 0.8rem;
  position: relative;
  bottom: 4px;
  margin-right: 4px;
}
footer article h3 {
  font-family: "Oswald";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2rem;
  text-align: left;
}

footer article .form-container {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 1.2rem;
}
footer article button {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--flag-red);
  color: var(--pure-white);
  margin-top: 1.2rem;
  cursor: pointer;
}

footer article form input,
footer article form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid var(--pure-white);
  font-family: "Oswald";
  font-weight: 400;
  font-size: 1.2rem;
  resize: none;
  color: var(--pure-white);
  transition: border 200ms ease-in-out;
}

footer article form input:valid,
footer article form textarea:valid {
  border-bottom: var(--flag-yellow) solid 2px;
}
