header {
  height: 100px;
  width: 100vw;
  background-color: var(--back-black);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

header nav,
header nav ul,
header nav li {
  height: 100%;
}

header nav li {
  display: inline;
  list-style: none;
  transition: background-color 300ms ease-in-out;
}
header nav li i {
  margin-right: 0.5rem;
  position: relative;
  bottom: 2px;
  font-size: 1rem;
}

header nav li a {
  text-decoration: none;
  height: 100px;
  line-height: 100px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 1.3rem;
  padding: 0 2rem;
  color: var(--pure-white);
  transition: color 300ms ease-in-out;
}

header nav li a span {
  text-align: center;
  min-width: 8rem;
}
header nav li:hover {
  background-color: var(--flag-yellow);
}

header nav li:hover a {
  color: var(--flag-red);
}

header nav :is(li:nth-child(1), li:nth-child(2), li:nth-child(3)) {
  float: left;
}
header nav :is(li:nth-child(4), li:nth-child(5)) {
  float: right;
  position: relative;
  right: 1rem;
}

header img {
  position: absolute;
  left: 50%;
  top: 1.25rem;
  background-color: var(--flag-red);
  width: 120px;
  height: 120px;
  transform: translate(-50%, 0);
  transform-origin: center top;
  border-radius: 50%;
  transition: width 200ms ease-in-out, height 200ms ease-in-out,
    transform 200ms ease-in-out;
}

header img.scrolled {
  width: 80px;
  height: 80px;
  transform: translate(-50%, -0.65rem);
}
